{% extends 'base.html' %}
{% block title %}Mi perfil{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="tab-content flex-grow-1 p-3" id="page-content-wrapper">
    <div class="tab-pane fade show active" id="carrito">
        <h1 class="mt-4">Mi Carrito</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for item, producto in carrito %}
                <tr>
                    <td><img src="/{{ producto.imagen_producto }}" alt="{{ producto.nombre_producto }}" style="width: 50px; height: auto;"></td>
                    <td>{{ producto.nombre_producto }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>${{ item.total }}</td>
                    <td>
                        <a href="{{ url_for('editar_carrito', id=item.id) }}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{{ url_for('eliminar_carrito', id=item.id) }}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de eliminar {{ producto.nombre_producto }}?');">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method="POST" action="{{ url_for('pedir_carrito') }}">
            <button type="submit" class="btn btn-primary">Pedir carrito</button>
        </form>
    </div>
    <div class="tab-pane fade" id="pedidos">
        <h1 class="mt-4">Mis Pedidos</h1>
        <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Productos</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Estatus</th>
                        <th>Mostrar ID </th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido, productos in productos_pedidos %}
                    <tr>
                        <td>
                            {% if productos %}
                                <img src="/{{ productos[0].producto.imagen_producto }}" alt="{{ productos[0].producto.nombre_producto }}" style="width: 50px; height: auto;">
                            {% endif %}
                        </td>
                        <td>
                            <ul>
                                {% for producto in productos %}
                                    <li>Producto ID: {{ producto.id_producto }} - Nombre: {{ producto.producto.nombre_producto }} - Cantidad: {{ producto.cantidad }} - Total: ${{ producto.subtotal }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ productos[0].cantidad }}</td>
                        <td>${{ pedido.total }}</td>
                        <td>{{ pedido.estatus }}</td>
                        <td><button class="btn btn-info" onclick="showQRCodeModal('{{ pedido.id }}')">Mostrar ID de Pedido</td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
</div>
<!-- Modal de Código QR -->
<div class="modal fade" id="qrModal" tabindex="-1" aria-labelledby="qrModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="qrModalLabel">Código QR del Pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="qrCodeImage" src="" alt="Código QR" style="width: 100%; height: auto;">
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
<script>
    function showQRCodeModal(pedidoId) {
        // Generar el código QR
        var qr = new QRious({
            element: document.getElementById('qrCodeImage'),
            value: pedidoId, // Cambia esto a la URL que desees
            size: 250
        });

        // Mostrar el modal
        $('#qrModal').modal('show');
    }
</script>

{% endblock %}