{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

<div class="container-md mt-5 d-flex justify-content-center">
    <form method="post">
        <div class="form-group">
            <label for="cantidad">Cantidad</label>
            <input type="number" class="form-control" id="cantidad" name="cantidad" required>
        </div>
        <div class="form-group">
            <label for="notas">Notas</label>
            <textarea class="form-control" id="notas" name="notas" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Realizar Pedido</button>
    </form>
</div>
{% endblock %}