{% extends 'base.html' %}
{% block title %}Editar producto{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>Editar Producto</h1>
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <img src="/{{ producto.imagen_producto }}" class="img-thumbnail" width="100" alt="Imagen Producto">
            <label for="imagen_producto">Imagen del Producto</label>
            <input type="file" class="form-control-file" id="imagen_producto" name="imagen_producto">
        </div>
        <div class="form-group">
            <label for="nombre_producto">Nombre del Producto</label>
            <input type="text" class="form-control" id="nombre_producto" name="nombre_producto" value="{{ producto.nombre_producto }}" required>
        </div>
        <div class="form-group">
            <label for="precio">Precio</label>
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend">$</span>
                <input type="number" class="form-control" id="precio" name="precio" aria-describedby="inputGroupPrepend" placeholder="0.00" value="{{ producto.precio }}" required>
            </div>
        </div>
        <div class="form-group">
        {% if producto.medida %}
                <div class="col-9" id="medidaField">
                    <p><strong>{{ producto.medida }}</strong></p>
                    <div class="input-group">
                        <div class="col-auto">
                            <label for="numero_medida">Cantidad:</label>
                            <input class="form-control" type="number" name="numero_medida" id="numero_medida" step="any">
                        </div>
                        <div class="col-auto">
                            <label for="medida">Unidad de medida:</label>
                            <select class="form-control" id="medida" name="medida">
                                <option value="">Seleccione una medida</option>
                                <option value="ml">Mililitros (ml)</option>
                                <option value="L">Litros (L)</option>
                                <option value="g">Gramos (g)</option>
                                <option value="Kg">Kilogramos (Kg)</option>
                                <option value="m">Metros (m)</option>
                                <option value="Unidad(es)">Unidades</option>
                            </select>
                        </div>
                    </div>
                </div>
            {% else %}
            <input type="hidden" name="medida" value="">
            <input type="hidden" name="numero_medida" value="">
        {% endif %}
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control" id="descripcion" name="descripcion">{{ producto.descripcion }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a href="{{ url_for('perfil_admin') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}