{% extends 'base.html' %}
{% block title %}Generar pedido{% endblock %}
{% block content %}
<div class="container-md mt-5 d-flex justify-content-center">
    <div class="card mb-3" style="max-width: 40rem;">
        <h3 class="card-header">{{ producto.nombre_producto }}</h3>
        <div class="container row">
            <div class="w-100 mt-4">
                <h6 class="ml-3 card-subtitle text-muted">{{ producto.carrera }}</h6>
            </div>
            <div class="col-md-5 mt-4 mb-4 d-flex justify-content-center">
                <img src="/{{ producto.imagen_producto }}" class="img-fluid card-img-top" alt="{{ producto.nombre_producto }}" style="max-width:20rem">
            </div>
            <div class="col-md mt-4 mb-4">
                <p class="card-text">{{ producto.descripcion }}</p>
                <p><strong id="total">${{ producto.precio }}</strong></p>
            </div>
        </div>
        <div class="container-md mt-1 mb-3">
            <form id="productoForm" method="POST">
                <div class="row d-flex justify-content-center">
                    <div class="col-3">
                        <label for="cantidad">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad" min="1" value="1" required onchange="updateTotal()" required>
                    </div>
                    <div class="col-10">
                        <label for="notas">Notas</label>
                        <textarea class="form-control" id="notas" name="notas" style="max-width: 100%; max-height: 7rem;"></textarea>
                    </div>
                    <div class="col mt-3">
                        <button class="col-md mt-3 btn btn-success" type="button" onclick="submitForm('{{ url_for('agregar_carrito', producto_id=producto.id) }}')">Agregar a mi carrito</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function submitForm(actionUrl) {
        var form = document.getElementById('productoForm');
        form.action = actionUrl;
        form.submit();
    }

    function updateTotal() {
        const precioUnidad = {{ producto.precio }};
        const cantidad = parseInt(document.getElementById('cantidad').value);
        const total = precioUnidad * cantidad;
        document.getElementById('total').textContent = `Total: $${total}`;
    }
</script>
{% endblock %}
