{% extends 'base.html' %}
{% block title %}Productos y servicios{% endblock %}
{% block head %}   <style>
    .card {
        margin: 20px;
        transition: transform .2s;
    }
    .card:hover {
        transform: scale(1.05);
    }
    .card img {
        height: 200px;
        object-fit: cover;
    }
</style>{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5">Productos y Servicios</h1>
    <form class="form-inline mb-4">
        <input type="text" class="form-control mr-2" name="query" placeholder="Buscar productos..." value="{{ query }}" default="">
        <select class="form-control mr-2" name="carrera">
            <option value="all">Todas las Carreras</option>
            {% for carrera in carreras %}
            <option value="{{ carrera.nombre }}" {% if carrera.nombre == filter_carrera %}selected{% endif %}>{{ carrera.nombre }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <div class="row">
        {% for producto in productos %}
        <div class="col-md-4">
            <a href="{{ url_for('pedido', producto_id=producto.id) }}">
            <div class="card">
                <img src="{{ producto.imagen_producto }}" class="card-img-top" alt="{{ producto.nombre_producto }}">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre_producto }}</h5>
                    <p class="card-text">${{ producto.precio }}</p>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}