{% extends 'base.html' %}
{% block title %}Reestablecimiento de contraseña{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2 class="text-center">Reestablecimiento de contraseña</h2>
            <form method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="email">Correo Electrónico:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su email" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Aceptar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}